/* fonts */
@font-face {
    font-family: 'DM Serif Display';
    src: url('../fonts/DMSerifDisplay-Regular.woff2') format('woff2'),
        url('../fonts/DMSerifDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Regular.woff2') format('woff2'),
        url('../fonts/Jost-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* CUSTOM PROPERTY */
:root{
    /* FONTS */
    --serif:"Serif Display", "Georgia", serif;
    --jost:"Jost", "Arial", sans-serif;
    /* COLORS */
    --color-primary:#cda274;
    --color-secondary:#292f36;
    --color-white:#fff;
    --color-text:#4d5053;
    /* BACKGROUND COLOR */
    --gray-bg-color:#f4f0ec;
    --white-bg-color:#fff;
    --blue-bg-color:#292f36;

}
/* GLOBAAL STYLES */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
*:focus{
    outline: 1px dashed var(--color-primary);
    outline-offset: 2px;

}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
h1{
    margin: 0;
}
a{
    text-decoration: none;

}
button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}
ul{
    list-style: none;

}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--jost);
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: var(--color-text);
    background-color: var(--white-bg-color);

}
.container{
    width: 100%;
    max-width: 1240px;
    padding: 0 2rem;
    margin: 0 auto;
}


/* SITE HEADER STYLES */
.header{
    padding: 2.8rem 0;
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.site-logo{
    display: flex;

}
.site-logo:hover{
    opacity: 0.8;

}
.site-logo__img{
    width: 177px;
    height: 50px;
    object-fit: contain;
    object-position: center;

}
.sitenav__list{
    display: flex;
    align-items: center;
}
.sitenav__item:not(:last-child){
    margin-right: 4rem;

}
.sitenav__link{
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: var(--color-secondary);

}
.sitenav__link:hover{
    color: var(--color-primary);
}
.bars-btn{
    display: none;
}
.bars-btn__img{
    width: 30px;
    height: 30px;
}
/* MAIN STYLES */
.main {
    flex-grow: 1;
}
.hero {
    background-image: url("../images/jpg/hero-bg-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 18.8rem 0px 26rem;

}
.hero__container {
    display: flex;
    align-items: center;
}
.hero__text-wrapper {
    width: 100%;
    max-width: 610px;

}
.hero__title {
    font-family: var(--serif);
    font-weight: 400;
    font-size: 8rem;
    line-height: 1.2;
    letter-spacing: 0.002em;
    color: var(--color-secondary);
    margin-bottom: 1.9rem;
}
.hero__text {
    letter-spacing: 0.01em;
    margin-bottom: 3.5rem;
}
.site-btn{
    border-radius: 1.8rem;
    display: inline-flex;
    align-items: center;
    background-color:var(--blue-bg-color);
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--color-white) ;
    border: 2px solid var(--blue-bg-color);
    transition: all ease 0.2s;
}
.site-btn:active{
    opacity: 0.6;
}
.site-btn:hover{
    background-color: transparent;
    color:var(--blue-bg-color);

}
.site-btn:hover .site-btn__icon{
    animation: arrowAnimation 2s linear;
}
.site-btn:hover .site-btn__icon svg path{
    stroke: var(--blue-bg-color);
}
.hero__btn {
    padding: 1.7rem 1.9rem 1.6rem 3.5rem;

}   
.site-btn__icon{
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
    
}
.site-btn__icon svg:first-child{
    margin-right: -13px;
}
@keyframes arrowAnimation{
    0%{
        transform: translate(0);
    }
    10%{
        transform: translate(3px);
    }
    20%{
        transform: translate(-3px);
    }
    30%{
        transform: translate(2px);
    }
    40%{
        transform: translate(-1px);
    }
    50%{
        transform: translate(0px);
    }
    100%{
        transform: translate(0);
    }
}






.right-nav{
    width: 60vw;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    padding: 2rem;

}
.right-nav ul{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.right-nav .sitenav-item:not(:last-child){
    margin-right: 0;
    margin-bottom: 1.5rem;
    
}
.toggle{
    transform: translate(0%);
    transition: 0.6s ease all;
}
.remove{
    transform: translate(-100%);
    transition: all 0.6s ease;
}
.right-nav a{
    font-size: 2rem;
    
}
.right-nav-btn{
    border: none;
    outline:none;
    font-size: 3rem;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
}









/* RESPONSIVE */
@media only screen and (max-width:1200px){
    
}


@media only screen and (max-width:992px){
    .hero__text{
        text-shadow: 0px 0px 3px #fff;
    }
}


@media only screen and (max-width:768px){
    .sitenav{
        display: none;
    }
    .bars-btn{
        display: block;
    }
    .hero__title{
        font-size: 6.9rem;
    }
    .hero__text{
        font-size: 2rem;
        
    }
}


@media only screen and (max-width:576px){
    .hero__text{
        max-width: 400px;
        font-size: 1.9rem;
    }
    .hero{
        padding: 14rem 0 20rem;
    }
    .hero__title{
        font-size: 5.5rem;
    }
    .right-nav{
        width: 100vw;
        height: 100vh;
    }
}


@media only screen and (max-width:480px){
    .hero__btn{
        padding:1.2rem 1.4rem 1.2rem 3rem ;
    }
    html{
        font-size: 55%;
    }
    .site-logo__img{
        width: 150px;
        height: 40px;
    }
    .hero__title{
        font-size: 5rem;
        text-align: center;
    }
    .hero__text{
        font-size: 1.8rem;
        text-align: center;
    }
    .hero{
        text-align: center;
    }
}
/* loader */
.next{
    position: fixed;
    top: 0;
    left: 0;
    background:#fff;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
 }
 
 .next{
    animation:vanish 4s 0s forwards;
 }
 @keyframes vanish {
    100%{
        opacity: 0;
        visibility: hidden;
    }
 }
